a:link   {color:blue; background-color:transparent; text-decoration:none}
a:visited{color:#004D40; background-color:transparent; text-decoration:none}
a:hover  {text-decoration:underline; background-color:transparent; text-decoration:underline}
a:active{color:black;background-color:transparent;text-decoration:underline}

body {
	background-color:powderblue;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#HKS {
	background-color: #00695C;
	margin: 0;
	padding: 1.5%;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.cpb:hover {
	color: #4DB6AC;
}

.cg:hover {
	color: green;
}

a.ane {
	text-decoration: none;
	color: white;
}

#NaviBar {
/* 	width:100%; */
	text-align:center;
    background-color: #333333;
	padding:0px;
	margin:0;
	overflow: hidden;
}
.menu{
	display: inline-block;
	padding: 15px 25px;
	text-decoration: none;
}
.menu:hover{
	background-color: black;
}


iframe#fb{
	position:relative;
    /* top: 0;
    right: 0; */
}

footer#ftr {
	background-color: #00BFA5;
	/* position:absolute; */
	/* top: 100%; */
	padding:20px;
	/* width: 100%; */
}

.png {
	padding: 15px 25px;
	align: center;
}