<!DOCTYPE html>
<html>
    <% include templates/favicon.ejs %>
<body>
    <% include templates/header.ejs %>
    <h1>About</h1>
    <p>Welcome to my about page!</p>
    <!--<ul>-->
        <!--<% data.categories.forEach(function (item) { %>-->
            <!--<li><a href="##"><%= item.categoryName %></a></li>-->
        <!--<% }) %>-->
    <!--</ul>-->
    <% include templates/footer.ejs %>
</body>
</html>
