<!DOCTYPE html>
<html>
 
  <body>
    <% include templates/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>'s website!</p>
    <% include templates/footer.ejs %>
  </body>
</html>