<footer id="ftr">
    <div style="text-align:center;">
        <a class="png" href="https://www.facebook.com/himanshu4746" target="_blank"><img src="/images/fb.png" style="frame:0;" width="40" height="40" alt="fb"></a>
        <a class="png" href="https://in.linkedin.com/in/himanshu4746" target="_blank"><img src="/images/linkedin.png" style="frame:0;" width="40" height="40" alt="linkedin"></a>
        <a class="png" href="https://www.instagram.com/himanshu_k_singh/?hl=en" target="_blank"><img src="/images/Instagram.png" style="frame:0;" width="40" height="40" alt="lInstagram"></a>
        <a class="png" href="https://mobile.twitter.com/account" target="_blank"><img src="/images/Twitter.png" style="frame:0;" width="40" height="40" alt="Twitter"></a>
        <a class="png" href="https://github.com/Himanshu4746" target="_blank"><img src="/images/Github.png" style="frame:0;" width="40" height="40" alt="Github"></a>

        <pre><address style="padding-left:20px">Sir M Visvesvaraya Institute of Technology<br>Krishnadevarayanagar  Bangalore  <br>562157</address></pre>
    </div>
</footer>