<!-- favicon -->
<head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<h1 id="HKS"><a class="ane cw cpb" href="index.html">Himanshu Kumar</a></h1>
<div id="NaviBar">
    <div class="menu"><a class="ane cw cg" href="/">Home</a></div>
    <div class="menu"><a class="ane cw cg" href="">Menu</a></div>
    <div class="menu"><a class="ane cw cg" href="">About</a></div>
    <div class="menu"><a class="ane cw cg" href="">Help</a></div>
</div>