<h1 id="HKS"><a class="ane cw cpb" href="index.html">Himanshu Kumar</a></h1>
<div id="NaviBar">
    <div class="menu"><a class="ane cw cg" href="/">Home</a></div>
    <div class="menu"><a class="ane cw cg" href="#">Menu</a></div>
    <div class="menu"><a class="ane cw cg" href="/about">About</a></div>
    <div class="menu"><a class="ane cw cg" href="#">Help</a></div>
</div>